:root {
  --main-bg-color: #fbf8f0;
  --main-first-color: #fbf8f0;
  --main-second-color: #3d3d3d;
}

.wrapper__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar__container .navbar {
  width: 100vw;
  height: 64px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__wrapper {
  width: 80%;
  background-color: none;
  color: var(--main-second-color);
}
