.modal {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  width: 70%;
  height: 75%;
  max-width: 700px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#modal__btn {
  background-color: var(--second-color);
  color: #ffffff;
  width: 100%;
  max-width: 200px;
  border-radius: 30px;
}
