#navbar {
  background: none;
  padding: 5px 30px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__wrapper {
  width: 80%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.navbar__logo {
  background: none;
}

.navbar__elements {
}
